RedirectMatch 404 /\.git.*$
RedirectMatch 404 /\.htaccess$
RedirectMatch 404 /attachments(/.*|$)
RedirectMatch 404 /bugs-html(/.*|$)
RedirectMatch 404 /original-bugs-html(/.*|$)

<Files .htaccess>
    Require all denied
</Files>

<Files LICENSE.txt>
    Require all denied
</Files>

<Files README.md>
    Require all denied
</Files>

<Files make_bugzilla_static_readonly.pl>
    Require all denied
</Files>

<Files template.html>
    Require all denied
</Files>

